source_url "https://raw.githubusercontent.com/cachix/devenv/82c0147677e510b247d8b9165c54f73d32dfd899/direnvrc" "sha256-7u4iDd1nZpxL4tCzmPG0dQgC5V+/44Ba+tHkPob1v2k="

dotenv_if_exists
use devenv

if [[ -z $CI ]]; then
  # Temporary fix for a bug in anchor@0.30.1 https://github.com/coral-xyz/anchor/issues/3042
  export ANCHOR_IDL_BUILD_PROGRAM_PATH="$DEVENV_ROOT/programs/example_program"
  PATH=$DEVENV_ROOT/.local-cache/solana-release/bin:$PATH
fi

