source_url "https://raw.githubusercontent.com/cachix/devenv/95f329d49a8a5289d31e0982652f7058a189bfca/direnvrc" "sha256-d+8cBpDfDBj41inrADaJt+bDWhOktwslgoP5YiGJ1v0="

dotenv_if_exists

use devenv


if [[ -z $CI ]]; then
  # Temporary fix for a bug in anchor@0.30.1 https://github.com/coral-xyz/anchor/issues/3042
  export ANCHOR_IDL_BUILD_PROGRAM_PATH="$DEVENV_ROOT/programs/example_program"
  export CHROMEDRIVER="$DEVENV_DOTFILE/profile/bin/chromedriver"
  PATH=$DEVENV_ROOT/.local-cache/solana-release/bin:$PATH
fi

