[alias]
# bins
llvm-cov = ["bin", "cargo-llvm-cov"]
nextest = ["bin", "cargo-nextest"]
insta = ["bin", "cargo-insta"]
mutants = ["bin", "cargo-mutants"]
make = ["bin", "cargo-make"]

# tests
test_all = ["nextest", "run", "--features", ""]
test_docs = ["test", "--doc", "--features", ""]
coverage_all = ["llvm-cov", "--no-report", "--features", ""]
coverage_docs = ["llvm-cov", "--no-report", "--doc", "--features", ""]
coverage_report = ["llvm-cov", "report", "--doctests", "--codecov", "--output-path", "codecov.json"]
test_wallets = ["nextest", "run", "--package", "wallet_standard_wallets", "--features", "ssr"]
